body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

#registerForm label {
  display: block;
}

#animeList input {
  margin-bottom: 10px;
}

#submissionContainer {
  display: flex;
  overflow-x: auto;
}

.submission {
  flex: 0 0 300px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}
